
<h1>Welcome to our Application</h1>
<p>You have found 

	
<%= link_to "The Branding Edge", "http://www.thebrandingedge.com" %>

	application.</p>

<p> 
	<%= link_to "Sign Up Now", "#{}"%>
</p>

<div class="footer">
<small>

	Lovingly Built by The Branding Edge 
</small>
	
</div>